[data-component="ArticleContainer"] {
  margin: 0 30% 0 10%;
  max-width: 100%;
  @media (max-width: 1000px) {
    margin: 0 10%;
  }
  .md {
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    padding: 2rem;
    color: var(--text-color);
    background: var(--card-bg-linear);
    max-width: 100%;
    h1 {
      position: relative;
      &::before {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        width: 100%;
        height: 0.15rem;
        background: #999;
      }
      &:hover::before {
        background: linear-gradient(
          to left,
          var(--theme-color-level-2),
          var(--theme-color-level-3),
          var(--theme-color-level-4)
        );
      }
      font-size: 3rem;
    }
    h2 {
      font-size: 2.7rem;
    }
    h3 {
      font-size: 2.4rem;
    }
    h4 {
      font-size: 2.1rem;
    }
    h5 {
      font-size: 1.8rem;
    }
    h6 {
      font-size: 1.5rem;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:hover {
        color: transparent;
        background: linear-gradient(
          to top left,
          var(--theme-color-level-2),
          var(--theme-color-level-3),
          var(--theme-color-level-4)
        );
        background-clip: text;
      }
    }
    h1,
    h2 {
      display: flex;
      justify-content: space-between;
      &:hover:after {
        content: "#";
      }
    }
    p,
    div,
    code,
    span,
    table,
    tr,
    td,
    th {
      font-size: 1.2rem;
      line-height: 1.5;
    }
    hr,
    img,
    table,
    blockquote,
    .codeBlock {
      margin: 1rem 0;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    tr,
    td,
    th {
      border: 0.1rem solid #999;
      padding: 0.5rem 0.6rem;
    }
    ul {
      li {
        &::marker {
          color: var(--theme-color-level-4);
          font-size: 1.5rem;
        }
      }
    }
    ol {
      li {
        vertical-align: middle;
        &::marker {
          color: var(--theme-color-level-4);
          font-size: 1.2rem;
        }
      }
      ol {
        list-style-type: lower-alpha;
        ol {
          list-style-type: lower-roman;
        }
      }
    }
    ol,
    ul {
      margin-left: 2rem;
    }
    hr {
      background: linear-gradient(
        to left,
        var(--theme-color-level-2),
        var(--theme-color-level-3),
        var(--theme-color-level-4)
      );
      border: 0;
      height: 0.15rem;
    }
    a {
      display: inline-block;
      max-width: fit-content;
      margin: 0 0.3rem;
      color: transparent;
      background: linear-gradient(
        to top left,
        var(--theme-color-level-2),
        var(--theme-color-level-3),
        var(--theme-color-level-4)
      );
      background-clip: text;
      word-break: break-all;
      font-weight: bold;
      &:hover {
        text-decoration: underline var(--theme-color-level-3);
      }
      i {
        font-size: 1.25rem;
      }
    }
    a[href^="#"] {
      i {
        display: none;
      }
    }
    blockquote {
      max-width: 70%;
      border-left: 0.3rem solid var(--theme-color-level-3);
      background-color: var(--bg-color);
      border-radius: 0.5rem;
      padding: 0 1rem;
    }
    code {
      color: var(--theme-color-level-4);
      border-radius: 0.3rem;
      border: 0.0625rem solid rgba(var(--bg-reverse-color-2), 0.5);
      padding: 0rem 0.3rem;
      font-size: 1rem;
      font-weight: bold;
    }
    pre {
      code {
        border: none;
        color: inherit;
        font-weight: normal;
      }
      .codeBlock {
        border-radius: 1rem;
        overflow: hidden;
        background-color: var(--code-block-bar-color);
        span {
          line-height: 1.2;
        }
        .bar {
          display: flex;
          justify-content: space-between;
          color: #888;
          .operation {
            margin-right: 1rem;
            i {
              cursor: pointer;
            }
          }
          .lang {
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            &::before {
              content: " ";
              border-radius: 50%;
              margin: 0 3rem 0 1rem;
              background: #fc625d;
              width: 0.75rem;
              height: 0.75rem;
              box-shadow: 1.25rem 0 #fdbc40, 2.5rem 0 #35cd4b;
            }
          }
          & + div {
            margin: 0 !important;
          }
        }
      }
    }
    img {
      padding: 0.3rem;
      width: 50%;
    }
    .toc {
      position: sticky;
      top: 5rem;
      left: 100%;
      width: 50%;
      height: 0;
      transform: translateX(112%);
      @media (max-width: 1000px) {
        position: static;
        width: auto;
        transform: none;
        height: auto;
      }
      ol {
        list-style-type: disc;
        li {
          &::marker {
            color: var(--theme-color-level-4);
            font-size: 1.5rem;
          }
        }
        ol {
          list-style-type: circle;
          ol {
            list-style-type: square;
          }
        }
      }
    }
    .contains-task-list {
      .task-list-item {
        padding: 0.5rem 0;
        &::marker {
          font-size: 0;
        }
        input[type="checkbox"] {
          & {
            position: relative;
            &::before {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              content: "\2718";
              display: block;
              width: 1.2rem;
              height: 1.2rem;
              color: var(--bg-color);
              background: #999;
              border-radius: 50%;
              text-align: center;
              line-height: 1.2rem;
            }
          }
          &:checked {
            &::before {
              content: "\2713";
              background: linear-gradient(
                to top left,
                var(--theme-color-level-2),
                var(--theme-color-level-3),
                var(--theme-color-level-4)
              );
            }
          }
        }
      }
    }
    .footnotes {
      #footnote-label {
        font-size: 0;
        &::after {
          content: "脚注";
          font-size: 1rem;
        }
      }
      a {
        font-size: 1.5rem;
        text-decoration: none;
      }
    }
  }
}
