[data-component="articleNav"] {
  max-width: 20rem;
  margin: 1rem 0;
  --linear-image: linear-gradient(
    to top left,
    var(--theme-color-level-2),
    var(--theme-color-level-3),
    var(--theme-color-level-4)
  );
  @media (max-width: 800px) {
    display: none;
  }
  .articleTag {
    font-size: 2rem;
    background: var(--linear-image);
    background-clip: text;
    color: transparent;
    padding: 1rem ;
  }
  .tags {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    padding-left: 0.5rem;
    &::before {
      position: absolute;
      left: 0;
      content: '';
      width: 0.1rem;
      height: 100%;
      background: var(--linear-image);
    }
    .tag {
      display: flex;
      gap: 0.25rem;
      width: max-content;
      position: relative;
      margin: auto 0.2rem;
      border: 1.5px solid var(--theme-color-level-3);
      border-radius: 1rem;
      line-height: 1.6rem;
      padding: 0.1rem 0.4rem;
      box-sizing: border-box;
      font-size: 1rem;
      word-break: keep-all;
      background-color: transparent;
      transform: perspective(1px) translateZ(0);
      color: var(--theme-color-level-3);
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
        border-radius: 1rem;
        transform: scale(0);
        background: var(--linear-image);
        transition: transform 0.3s ease-out;
        z-index: -1;
      }
      &:hover {
        color: var(--bg-color);
        &::after {
          transform: scale(1);
        }
      }
    }
  }
}
