[data-component="ArticleFooter"] {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: var(--text-color);
  --linear-image: linear-gradient(
    to top left,
    var(--theme-color-level-2),
    var(--theme-color-level-3),
    var(--theme-color-level-4)
  );
  .icp {
    color: var(--text-color);
    &:hover {
      background-image: var(--linear-image);
      color: transparent;
      background-clip: text;
    }
  }
}
