[data-component="WrapModel"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--bg-reverse-color-2), 0.3);
  backdrop-filter: blur(0.5rem);
  z-index: 900;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
