[data-component="switchAnimation"] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: var(--main-bg-linear);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade 0.55s 0.5s linear forwards;
  .logo {
    perspective: 1rem;
    transform-style: preserve-3d;
    transform: scale(1) translateZ(0);
    padding: 0;
    opacity: 1;
    padding-top: 2.35rem;
    padding-right: 5.1rem;
    animation: shrink 0.3s linear;
    g {
        fill: var(--theme-color-level-4);
        stroke-width: 0.05rem;
        stroke: var(--theme-color-level-4);
      }
  }
  @keyframes shrink {
    0% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes fade {
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
