.aboutBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  width: 100%;
  height: 100%;
  background: 
  linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%),
  radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
}