.aboutBoard[data-component="AboutBoard"] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--bg-reverse-color);
  width: 100%;
  height: 100%;
  background-image: var(--about-bg-linear);
  overflow: hidden;
  scroll-snap-align: start;
  transform-style: preserve-3d;
  perspective: 3000px;
  perspective-origin: center 0%;
  transform: scale(1);
  #infoControl {
    &:not(:checked) + .infoCard {
      .bgBox {
        clip-path: circle(0 at calc(100% - 2.5em) calc(100% - 2.5em));
        transition: clip-path 1s;
        .info {
          opacity: 0;
          filter: blur(0.3rem);
          transition: none;
        }
        .name {
          opacity: 0;
          transition: none;
        }
      }
      .ball {
        opacity: 0;
        transform: scale(1) translate(50%, 77%);
        right: 50%;
        bottom: 50%;
        transition: transform 1.5s 1s, right 1.5s 1s, bottom 1.5s 1s,
          opacity 1s 1.5s;
      }
    }
    &:checked + .infoCard {
      .bgBox {
        clip-path: circle(200% at calc(100% - 2.5em) calc(100% - 2.5em));
        transition: clip-path 1s 1.5s;
        .info {
          opacity: 1;
          filter: blur(0);
          transition: opacity 0.8s cubic-bezier(0.11, 0, 0.5, 0),
            filter 0.8s cubic-bezier(0.11, 0, 0.5, 0);
        }
        .name {
          opacity: 1;
          transition: opacity 1s 3s cubic-bezier(0.11, 0, 0.5, 0);
        }
      }
      .ball {
        opacity: 1;
        transform: scale(0.5);
        right: 0;
        bottom: 0;
        transition: transform 1.5s, right 1.5s ease-out, bottom 1.5s ease-out,
          opacity 1s;
      }
    }
  }
  .infoCard {
    position: relative;
    width: 80%;
    max-width: 30rem;
    height: 80%;
    z-index: 10;
    border-radius: 3rem;
    background-color: transparent;
    overflow: hidden;
    .bgBox {
      width: 100%;
      height: 100%;
      background-color: rgba(var(--bg-color-2), 0.4);
      backdrop-filter: blur(0.5rem);
      padding: 2rem;
      box-sizing: border-box;
      font-size: 1.9rem;
      font-family: "Alex Brush", "Ma Shan Zheng", "Consolas", "楷体";
      color: var(--bg-reverse-color);
      .name {
        padding: 0 1rem;
        width: 10rem;
        height: 2.5rem;
      }
    }
    .ball {
      position: absolute;
      width: 10em;
      height: 10em;
      .circle {
        --size: 10em;
        --shadow-size: 2em;
      }
    }
    @keyframes svg-text-anim {
      40% {
        stroke-dashoffset: 0;
        fill: transparent;
      }
      60% {
        stroke-dashoffset: 0;
        fill: var(--theme-color-level-4);
      }
      100% {
        stroke-dashoffset: 0;
        fill: var(--theme-color-level-4);
      }
    }
  }
}
